.App {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: space-between;
}
.header {
  border: 1px green solid;
  text-align: center;
  height: 10%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6%; /* Height of the footer */
  background: #6cf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -100px;
}
.leftSide {
  display: flex;
  width: 20%;
  justify-content: space-between;
  justify-items: center;
  margin-top: 0.5em;
}
.leftSide1 {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin-top: 0.5em;
}
.rightSide {
  display: flex;
  width: 22%;
  justify-content: space-around;
  justify-items: center;
  margin-top: 0.5em;
}
ul {
  list-style-type: none;
}
.AddProducts {
  margin-top: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
}
Form {
  width: 35%;
  margin: auto;
  border: 1px black solid;
  padding: 1em;
}
.detail Form {
  width: 100%;
  background-color: #6cf;
}
.btn {
  margin: 10px auto;
}
.variant {
  margin-top: 10px auto;
}
.row {
  display: flex;
}
.wrap {
  width: 98%;
  margin: auto;
  margin-top: 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  width: 18%;
  transition: 0.4s;
  text-align: center;
  float: left;
  margin: 11px;
}
.card_details {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  width: 50%;
  transition: 0.4s;
  text-align: center;
  float: left;
  margin: 11px;
  padding: 2px;
}
.details {
  margin: auto;
  border: 1px lightblue solid;
  width: 100%;
}
.card:hover {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.9);
}
.homePage {
  background-image: url('./images/shopping.png');
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  -o-object-fit: contain;
  object-fit: contain;
}
.detail {
  display: flex;
}
.side_details {
  max-width: 10%;
  margin: 1em;
  padding: 1em;
  border: 1px gray solid;
}
.each_photo {
  margin: 1em;
  height: 20%;
}
.cart {
  display: flex;
}
.cart:hover {
  cursor: pointer;
}
.cartContainer {
  margin-top: 0;
  margin-left: 5% auto;
  width: 80%;
}
.heading {
  font-size: 1.5em;
}
.paymentPage {
  display: flex;
  width: 50%;
}
.paymentPage {
  margin-top: 0;
  margin-left: auto;
  width: 80%;
}
.address {
  border: 2px black solid;
  padding: 1em;
  margin: 1em;
}
