.App {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  background-color: aquamarine;
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: space-between;
}
.header {
  border: 1px green solid;
  text-align: center;
  height: 10%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6%; /* Height of the footer */
  background: #6cf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -100px;
}
.leftSide {
  display: flex;
  width: 20%;
  justify-content: space-between;
  justify-items: center;
  margin-top: 0.5em;
}
.rightSide {
  display: flex;
  width: 22%;
  justify-content: space-around;
  justify-items: center;
  margin-top: 0.5em;
}
ul {
  list-style-type: none;
}
.AddProducts {
  margin-top: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
}
Form {
  margin:  auto;
  width: 40%;
  border: 1px black solid;
  padding: 1em;
}
.btn {
  margin: 10px auto;
}
.variant {
  margin-top: 10px auto;
}
.row {
  display: flex;
}
.wrap {
  width: 98%;
  margin: auto;
  margin-top: 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  width: 18%;
  transition: 0.4s;
  text-align: center;
  float: left;
  margin: 11px;
}
.card_details {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  width: 30%;
  transition: 0.4s;
  text-align: center;
  float: left;
  margin: 11px;
  padding: 2px;
}
.details {
  margin: auto;
  border: 1px lightblue solid;
  width: 100%;
}
.card:hover {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.9);
}
