.App {
  text-align: center;
}

.navbar {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
}
.leftSide {
  display: flex;
  width: 20%;
  justify-content: space-between;
}
.rightSide {
  display: flex;
  width: 22%;
  justify-content: space-around;
}
ul {
  list-style-type: none;
}
.Container {
  margin: 50%, auto;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.Cards {
  height: 20%;
  width: 20%;
}
Form {
  margin: 10% auto;
}
.btn {
  margin: 10px auto;
}
